.header .content {
	padding-top: 0.5em;
	padding-bottom: 0;
}

.header .content .navbar-default {
	border: none;
}

/** header - navbar top **/
.header .content .navbar-top {
	padding-bottom: 0.5em;
	border: 0 !important;
}

.header .content .navbar-top .container .img-logo img {
	height: 100%;
	max-height: 65px;
}

.header .content .navbar-top .container .top-kanan {
	padding: 7px 0;
}

.header .content .navbar-top .container .top-kanan>li:first-child {
	padding: 14px 0;
}

.header .content .navbar-top .container .top-kanan .hari_tgl {
	color: #282828;
	font-size: 0.95em;
	font-weight: bold;
	font-family: 'Roboto-Regular';
}

.header .content .navbar-top .container .top-kanan .navbar-form .form-control {
	margin-right: 3px
}
/** end navbar top **/

/** header - navbar down **/
.header .content .navbar-down {
	background-color: #3A539B;
	border-left-color: #3A539B;
	border-right-color: #3A539B;
	border-radius: 0;
}

.header .content .navbar-down .container .collapse {
	padding: 0;
}

.header .content .navbar-down .container .collapse .nav {
	margin-left: 0;
}

.header .content .navbar-down .container .collapse .nav li a {
	color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    font-family: 'Roboto-Regular';
    text-align: center;
    text-transform: uppercase;
}

.header .content .navbar-down .container .collapse .nav>.open>a, 
.header .content .navbar-down .container .collapse .nav>.open>a:hover, 
.header .content .navbar-down .container .collapse .nav>.open>a:focus {
	background-color: #D91E18;
	transition: 1s;
}

.header .content .navbar-down .container .collapse .nav>li {
	min-width: 77px;
}

.header .content .navbar-down .container .collapse .nav>li>a {
	transition: 1.5s;
}

.header .content .navbar-down .container .collapse .nav>li>a:hover, 
.header .content .navbar-down .container .collapse .nav>li>a.active {
	background-color: #D91E18;
	transition: 1s;	
}

.header .content .navbar-down .container .collapse .nav .dropdown:hover .dropdown-menu {
	display: block;
}

.header .content .navbar-down .container .collapse .nav .dropdown .dropdown-menu {
	background-color: rgba(0,0,0,0.6);
	border-left-color: rgba(0,0,0,0.6);
	border-right-color: rgba(0,0,0,0.6);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border: 0 !important;
	padding: 0;
	margin: 0;
	min-width: 135px;
}

.header .content .navbar-down .container .collapse .nav .dropdown .dropdown-menu li a {
	padding: 15px;
}

.header .content .navbar-down .container .collapse .nav .dropdown .dropdown-menu .divider {
	padding:0;
}

.header .content .navbar-down .container .collapse .nav .dropdown .dropdown-menu>li>a {
	transition: 1.5s;
}

.header .content .navbar-down .container .collapse .nav .dropdown .dropdown-menu>li>a:hover, 
.header .content .navbar-down .container .collapse .nav .dropdown .dropdown-menu>li>a:focus {
	background-color: #F4D03F;
	color: #000 !important;
	transition: 1s;
}

.header .content .navbar-down .container .collapse .nav .dropdown .dropdown-menu>li:last-child:hover a {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	transition: 1s;
}
/** end navbar down **/

/** banner **/
.container-banner {
	max-width: 1130px;
	margin: 0 auto;
	margin-top: 1em;
}

.container-banner .carousel .carousel-inner .item>img {
	width: 100%;
}

.container-banner .carousel .carousel-inner .item .carousel-caption {
	padding: 15px 20px !important;
}

.container-banner .carousel .carousel-inner .item .carousel-caption .kategori {
	padding: 0;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.container-banner .carousel .carousel-inner .item .carousel-caption .tanggal-post {
	padding: 0;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	text-align: right;
}

.container-banner .carousel .carousel-inner .item .carousel-caption .tanggal-post>span {
	font-size: 13px;
}

.container-banner .carousel .carousel-inner .item .carousel-caption .tanggal-post>span .glyphicon {
	margin-right: 5px;
}

.container-banner .carousel .carousel-inner .item .carousel-caption .kategori .label {
	padding: 5px 7px;
}

.container-banner .carousel .carousel-inner .item .carousel-caption .deskripsi {
	text-align: justify;
	line-height: 2em;
}

.container-banner .carousel .list-group .list-group-item {
	padding: 15px;
}

.container-banner .carousel .list-group .list-group-item.active {
	background-color: #000 !important;
	color: #fff;
}

.container-banner .carousel .list-group .list-group-item h4 {
	text-transform: uppercase;
	font-size: 11pt;
    line-height: 2em;
    padding: 0;
}
/** end banner **/

/** content terbaru terpopuler **/
.main-content {
	padding: 1.5em 0;
}

.main-content .container {
	max-width: 1130px;
    padding: 0;
}

.main-content .container .mag-inner .mag-innert-left {
	padding: 15px 0;
}

.main-content .container .mag-inner .mag-innert-left .tech-text .technology .tittle {
	background-color: #3A539B;
}

.main-content .container .mag-inner .mag-innert-left .tech-text .editor-pics {
	border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.main-content .container .mag-inner .mag-innert-left .tech-text .editor-pics:last-child {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	border-bottom: none;
}

.main-content .container .mag-inner .mag-innert-left .tech-text .editor-pics .item-details {
	border-bottom: 1px solid #ccc;
    padding: 0 10px;
}

.main-content .container .mag-inner .mag-innert-left .tech-text .editor-pics .item-details:nth-last-child(2) {
	border-bottom: none;
}

.main-content .container .mag-inner .mag-innert-left .tech-text .editor-pics .item-details>span {
	font-size: 0.9em;
}

.main-content .container .mag-inner .mag-innert-left .tech-text .editor-pics .td-post-date {
	margin: 0.5em 0 0;
}
/** end content terbaru terpopuler **/

.main-content2 {
	padding: 0;
    margin-bottom: 1.5em;
}

.main-content2 .container {
	max-width: 1130px;
    padding: 0;
}

.main-content2 .container .mag-inner .mag-innert-left .technology .tittle {
	background-color: #3A539B;
}

.main-content2 .container .mag-inner .mag-innert-left .technology .tech-text .editor-pics {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.main-content2 .container .mag-inner .mag-innert-left .technology .tech-text .editor-pics:last-child {
	border-bottom: none;
}

.main-content2 .container .mag-inner .mag-innert-left .technology .tech-text .editor-pics .item-details {
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

.main-content2 .container .mag-inner .mag-innert-left .technology .tech-text .editor-pics .item-details:nth-last-child(2) {
	border-bottom: none;
}

.main-content2 .container .mag-inner .mag-innert-left .technology .tech-text .editor-pics .item-details .inner {
	margin-top: 0.3em;
}

.main-content2 .container .mag-inner .mag-innert-left .technology .view-all {
	text-align: right;
}

.main-content2 .container .mag-inner .mag-inner-right .top-news {
	margin-top: 0 !important;
}

.main-content3 {
	padding: 1.5em 0 0;
    margin-bottom: 1.5em;
}

.main-content3 .container {
	max-width: 1130px;
    padding: 0;
}

.main-content3 .container .banner-detail {
	padding-bottom: 1.5em;
}

.main-content3 .container .mag-inner .mag-innert-left .banner-bottom-left-grids .single-left-grid>h4 {
	font-size: 1.8em;
	text-align: justify;
	padding: 0;
	margin-bottom: 0.5em;
    border-bottom: 3px solid #000;
}

.main-content3 .container .mag-inner .mag-innert-left .banner-bottom-left-grids .single-left-grid .info-posting {
	margin-bottom: 0.5em;
	padding: 0;
}

.main-content3 .container .mag-inner .mag-innert-left .banner-bottom-left-grids .single-left-grid .info-posting .col-md-5 {
	padding: 0;
}

.main-content3 .container .mag-inner .mag-innert-left .banner-bottom-left-grids .single-left-grid .info-posting .col-md-7 {
	padding: 0;
	text-align: right;
}

.main-content3 .container .mag-inner .mag-innert-left .banner-bottom-left-grids .single-left-grid .info-posting .glyphicon {
	margin-right: 5px;
}

.main-content3 .container .mag-inner .mag-innert-left .banner-bottom-left-grids .single-left-grid .text {
	text-align: justify;
    line-height: 2.5em;
}

.main-content3 .container .mag-inner .mag-innert-left .banner-bottom-left-grids .single-left-grid .figure .figure-caption {
	padding: 10px;
	background-color: #eee;
	font-size: 11pt;
}

.main-content3 .container .mag-inner .mag-inner-right {
	padding-right: 0;
}

.main-content3 .container .mag-inner .mag-inner-right .side {
	background-color: #3A539B;
	color: #fff;
}

.main-content3 .container .mag-inner .mag-inner-right .edit-pics {
	padding: 15px;
	margin-bottom: 1.5em;
}

.main-content3 .container .mag-inner .mag-inner-right .edit-pics .editor-pics {
	margin: 0;
	padding: 0.5em 0;
	border-bottom: 1px solid #ccc;
}
.main-content3 .container .mag-inner .mag-inner-right .edit-pics .editor-pics:last-child {
	border-bottom: none;
}

.main-content3 .container .mag-inner .mag-inner-right .edit-pics .item-details {
	padding: 0;
}

.main-content3 .container .mag-inner .mag-inner-right .edit-pics .item-details .td-post-date .glyphicon {
	margin-right: 5px;
}

.main-content3 .container .mag-inner .mag-inner-right .top-news {
	margin-top: 1.5em;
}

.main-content3 .container .mag-inner .mag-inner-right .top-news .side {
	background-color: #3A539B;
	color: #fff;
}

.main-content3 .container .mag-inner .mag-inner-right .top-news .top-inner {
	padding: 5px;
}

.main-content3 .container .mag-inner .mag-inner-right .top-news .top-inner .top-text {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.main-content3 .container .mag-inner .mag-inner-right .top-news .top-inner .top-text:last-child {
	border-bottom: none;
}

.main-content3 .container .mag-inner .mag-inner-right .top-news .top-inner .top-text .top {
	margin-top: 0;
}

.main-content3 .container .mag-inner .mag-inner-right .top-news .top-inner .top-text .td-post-date {
	margin: 0;
}

.main-content3 .container .mag-inner .mag-inner-right .top-news .top-inner .top-text .td-post-date .glyphicon {
	margin-right: 5px;
}

.side .glyphicon {
	margin-right: 0.5em;
}

h3.tittle.bottom {
	width: 100%;
    background-color: #3A539B;
}

.mag-bottom {
	margin: 1.5em 0 0;
	padding: 0;
	background-color: #fff;
	border: 1px solid rgba(231,231,231,1.00);
}

.mag-bottom .tittle {
	margin: 0;
}

.grid figure {
    margin: 0;
    margin-bottom: 0.5em;
    max-width: 100%;
    min-width: 100%;
    width: 100% !important;
}

.grid .m-b {
    padding: 0 10px !important;
}

.mag-bottom .grid .m-b-text p {
	text-align: justify;
}

/** sosial media **/
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}

.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}

.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}

.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.social-circle i {
	color: #3A539B;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
/** end sosial media **/

/** tentang kami **/
.section-contact .container .contact-main .page-contact-form {
	padding: 15px;
	margin-bottom: 3em;
	background-color: #fff;
	border: 1px solid rgba(231,231,231,1.00);
}

.section-contact .container .page-maps {
	padding: 15px;
	background-color: #fff;
	border: 1px solid rgba(231,231,231,1.00);
}

.section-contact .container .contact-main .contact-in h3 {
	color: #000000;
	margin-bottom: 0;
	text-align: left;
	font-size: 1.5em;
}

.section-contact {
	padding: 1.5em 0;
	background-color: #F1EFEF;
}

.section-contact .container {
	max-width: 1130px;
}

.section-contact .container .h-tittle {
	margin-bottom: 0.5em;
	color: #3A539B;
}

.section-contact .container .map-bottom .adrs-left {
	background-color: #3A539B;
}

.section-contact .container .map-bottom .adrs-middle {
	background-color: #282828;
}

.send input[type="submit"] {
	background-color: #3A539B;
}

.cont-kategori {
	padding: 0;
}

.kategori {
    padding: 0 15px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.kategori:nth-last-child(2) {
    margin-bottom: 0;
    border-bottom: none;
}

.kategori .inner {
	margin: 0 0 0.7em;
	margin-top: 0 !important;
}

.kategori .editor-pics {
	padding: 0 !important;
	margin: 0 !important;
}

.kategori .editor-pics .item-details {
	padding: 0 !important;
}

.td-post-date .glyphicon {
	margin-right: 5px;
}